<div class="container-fluid mt-1" id="profile">
    <div id="profile--system_info" class="d-flex justify-content-around flex-wrap">

        <div class="card card-outline-primary text-center mr-sm-1 mb-2">
            <div class="card-header card-primary text-white">
                <span class="card-title">Электронная почта <sup ng-show="ctrl.oldUser.email != ctrl.newUser.email">*</sup></span>
            </div>
            <div ng-show="!(ctrl.showConfirmCard)">
                <div class="card-block">
                    <span class="card-text">
                        На электронную почту приходят оповещания о ваших покупках, новости и прочее.
                    </span>
                    <hr />
                    <div class="card-text" title="{{newEmail}}">
                        <div id="profile--system_info-email">
                            <span ng-show="emailForm.emailInput.$valid">{{newEmail}}</span>
                            <span class="h4" ng-show="emailForm.emailInput.$invalid || newEmail == ''">Неверный формат</span>
                        </div>

                        <form name="emailForm" ng-show="ctrl.isEditEmail">
                            <hr />
                            <input name="emailInput" ng-model="newEmail"
                                   type="email"
                                   class="form-control"
                                   ng-class="{inputValidSucces: emailForm.emailInput.$valid && newEmail != '', inputValidError: emailForm.emailInput.$invalid || newEmail == ''}" />
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div ng-show="!(ctrl.isEditEmail)">
                        <button class="btn btn-outline-primary btn-block" ng-click="ctrl.isEditEmail = true;">
                            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="row" ng-show="ctrl.isEditEmail">
                        <div class="col">
                            <button ng-disabled="emailForm.emailInput.$invalid || newEmail == ''"
                                    class="btn btn-outline-success btn-block"
                                    ng-click="ctrl.acceptSendEditEmailConfirmMessage(newEmail)">
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-danger btn-block" ng-click="ctrl.dismissSendEditEmailConfirmMessage()">
                                <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="ctrl.showConfirmCard">
                <div class="card-block">
                    <span class="card-text">
                        На вашу новую электронную почту ({{newEmail}}) отправлено письмо с кодом.
                    </span>
                    <hr />
                    <form>
                        <input class="form-control" type="text" ng-model="code" />
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-success btn-block" ng-click="ctrl.acceptEditEmail(newEmail, code)">
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-danger btn-block" ng-click="ctrl.dismissEditEmail()">
                                <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr />

    <div class="card card-outline-info text-center" id="profile--addresses">
        <div class="card-header card-info text-white">
            <span class="card-title">Адреса</span>
        </div>
        <div class="card-block" ng-show="ctrl.oldUser.addresses.length == 0 || ctrl.oldUser.addresses == null">
            <div class="text-center">
                <p class="card-text">
                    У вас нет адресов доставки
                </p>
                <button class="btn btn-outline-success" ng-click="ctrl.addAddrress()">
                    <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="card-block d-flex justify-content-around flex-wrap align-items-center mt-1" ng-show="!(ctrl.oldUser.addresses.length == 0 || ctrl.oldUser.addresses == null)">

            <div class="card card-outline-primary mr-sm-1 mb-2 text-left" ng-repeat="address in ctrl.oldUser.addresses">
                <div class="card-header card-primary text-white">
                    <span class="card-title">{{address.lastName}}</span><br />
                    <span class="card-title">{{address.firstName}}</span><br />
                    <span class="card-title">{{address.middleName}}</span>
                </div>
                <div>
                    <div class="card-block">
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Фамилия:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.lastName}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Имя:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.firstName}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Отчество:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.middleName}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Страна:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.country}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Регион (Область):</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.region}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Город:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.city}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Адрес:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.address}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Почтовый индекс:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.postCode}}</span><br />
                            </div>
                        </div>
                        <hr />

                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div>
                                <span><strong>Номер телефона:</strong> </span><br />
                            </div>
                            <div>
                                <span>{{address.phoneNumber}}</span><br />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-around align-items-center flex-wrap">

                        <button class="btn btn-outline-primary" ng-click="ctrl.editAddress(address.id)">
                            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                        </button>

                        <button class="btn btn-outline-danger" ng-click="ctrl.deleteAddress(address.id)">
                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                        </button>

                    </div>
                </div>
            </div>

            <button class="btn btn-outline-success" ng-click="ctrl.addAddrress()">
                <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <hr />

    <div ng-show="ctrl.oldUser.role != 'User'" id="profile--categories">
        <div class="card card-outline-info text-center">
            <div class="card-header card-info text-white">
                <span class="card-title">Категории</span>
            </div>
            <div>
                <div class="card-block text-center" ng-show="ctrl.isWaitCategories">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>

                <div class="card-block text-center" ng-show="!(ctrl.isWaitCategories) && ctrl.categories.length === 0">
                    <p class="h4">Увас нет категорий товаров, добавьте их прямо сейчас!</p><br />
                    <button class="btn btn-outline-success" ng-click="ctrl.addCategory()">
                        <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="card-block text-center" ng-show="!(ctrl.isWaitCategories) && ctrl.categories.length > 0" id="profile--categories_container">

                    <div class="card card-outline-secondary mb-2" ng-repeat="category in ctrl.categories">

                        <div class="card-block">
                            <p class="h3">{{category.name}}</p>
                            <p class="h6">{{category.description}}</p>
                        </div>
                        <div class="card-footer text-center d-flex justify-content-around align-items-center flex-wrap">

                            <a class="btn btn-primary text-white" href="#!/category/edit/{{category.id}}" role="button">
                                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                            </a>
                            <button class="btn btn-danger" ng-click="ctrl.deleteCategory(category.id)">
                                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>

                    <button class="btn btn-outline-success" ng-click="ctrl.addCategory()">
                        <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>