body {
}

#authorize {
    margin-top: 5px;

    .card {
        margin-right: 5px;
        margin-bottom: 5px;
        max-width: 350px;
        text-align: center;

        @media(max-width: 575px) {
            margin-right: 0px;
            max-width: initial;
            width: 100%;
        }

        .card-img-top {
            max-width: 150px;
            height: auto;
        }
    }
}
