@primaryColor: #0275d8;
@successColor: #5cb85c;
@dangerColor: #d9534f;

@profile-max-height-panel: 702px;

body {
}

#authorize {
    margin-top: 5px;

    .card {
        margin-right: 5px;
        margin-bottom: 5px;
        max-width: 350px;
        text-align: center;

        @media(max-width: 575px) {
            margin-right: 0px;
            max-width: initial;
            width: 100%;
        }

        .card-img-top {
            max-width: 150px;
            height: auto;
        }
    }
}

#mainNav {
    ul {
        width: 100%;

        .nav-item {
            cursor: pointer;
        }
    }

    .email > a {
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0px;
        padding-left: 0px;
    }
}

#error {
    #errorStatus {
        font-size: 100pt;
    }
}

#waitModal {
    font-size: 100pt;
    text-align: center;
}

#profile {
    #profile--system_info {

        .card {
            padding-right: 0px;
            padding-left: 0px;
            max-width: 290px;
            border-bottom: 0px;


            .card-footer {
                padding: 0px;
                transition-property: height;

                .btn-block {
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    border-bottom-color: @primaryColor;
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

                .row {
                    width: 100%;
                    margin: 0px;

                    .col {
                        padding: 0px;

                        &:nth-child(1) {
                            .btn-block {
                                border-bottom-right-radius: 0px;
                                border-right: solid 1px;
                                border-right-color: @primaryColor;
                                padding-right: 15px;
                            }
                        }

                        &:nth-child(2) {
                            .btn-block {
                                border-bottom-left-radius: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    #profile--system_info-email {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #profile--addresses {

        > .card-block {
            max-height: @profile-max-height-panel;
            overflow-y: scroll;
        }

        .card {
            width: 290px;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    #profile--categories {

        > .card > div > .card-block {
            max-height: @profile-max-height-panel;
            overflow-y: scroll;
        }

        #profile--categories_container {
            a {
                color: black;
                text-decoration: none;

                &:visited, &:hover {
                    color: black;
                    text-decoration: none;
                }

                .card {
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

#editAddressModal {
    .modal-header p, label {
        white-space: nowrap;
        max-width: 99%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modal-header > p {
        height: 35px;
    }
}

#category {
    #category--products {
        .category--products_item {
            max-width: 300px;

            .card-img-top {
                width: 100%;
                height: auto;
            }
        }
    }
}

#product {
    #product--cover {
        .card {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #product--images {
        .card {
            width: 300px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    #product--characteristics {
        .row {
            width: 380px;

            @media(max-width: 400px) {
                width: 100%;
            }
        }

        .product--characteristics_item {
            .col-4 {
                padding: 0px;

                &:nth-child(1) {
                    padding-right: 2px;
                }
            }
        }
    }

    #product--characteristicsGroups {
        width: 100%;

        .product--characteristicsGroups_item {
            width: 100%;
        }
    }
}

.inputValidSucces {
    background-color: @successColor;
    color: white;
}

.inputValidError {
    background-color: @dangerColor;
}

.inputValidError, .inputValidSucces {
    transition-property: background-color;
    color: white;
}

.file_upload {
    position: relative;
    overflow: hidden;
}

.file_upload > button {
    float: right;
    height: 100%
}


.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;
    -ms-transform: scale(20);
    opacity: 0;
    cursor: pointer
}

.file_upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: box-shadow 0.1s linear
}

.file_upload.focus {
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}

.file_upload > button {
    background-color: transparent;
    transition: background 0.2s;
    transition: color 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: @successColor;
    border-radius: 2px;
    color: @successColor;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.file_upload:hover > button {
    background: @successColor;
    color: white;
}

.file_upload:active > button {
    background: @successColor;
}
