<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Bundles/lib/tether/dist/css/tether.min.css" rel="stylesheet" />
    <link href="Bundles/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Bundles/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="mainController as mainCtrl">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Diploma</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-start">
                <li class="nav-item active ml-md-0 ml-lg-auto" ng-if="!(mainCtrl.user.isAuthorize)">
                    <a class="nav-link" href="#!/authorize">Вход <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown active ml-md-0 ml-lg-auto email" ng-if="mainCtrl.user.isAuthorize">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{mainCtrl.user.email}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#!/profile">Профиль</a>
                        <a class="dropdown-item" href="#!/order">Заказы</a>
                        <a class="dropdown-item" href="#!/basket">Корзина</a>
                        <a class="dropdown-item" href="#" ng-click="mainCtrl.signOut()">Выход</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="ng-view-container">
        <ng-view></ng-view>
    </div>
    <script src="Bundles/lib/jquery/dist/jquery.min.js"></script>
    <script src="Bundles/lib/tether/dist/js/tether.min.js"></script>
    <script src="Bundles/app/vendor.js"></script>
    <script src="Bundles/app/bundle.js"></script>
</body>
</html>